.header{
    background-image: url(https://img.freepik.com/free-photo/top-view-notepad-vegetables-with-seasonings-dark-blue-background-vegetable-food-snack-meal-color_140725-30833.jpg?size=626&ext=jpg&uid=R46318918&ga=GA1.2.1132668939.1664394842&semt=ais);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    height: 70vh;
   
}
